@import '../../../styles/variables';

.MyNavbar {
  background-color: $navbarBackgroundColor;
  // border-bottom: 3px solid darkgreen;
  // box-shadow: 0 0.125rem 0.25rem rgba(42,42,42,0.075) !important;

  .brand {
    color: #212529;
  }

  ul {
    text-align: left;
  }
}