.AddOutfitDropdown {
  display: flex;
  justify-content: center;

  .error {
    font-size: .75em;
    color: darkred;
  }
}

.dropdown-menu {
  left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .dropdown-menu {
    width: 400px;
  }
}
