@import '../../../styles/variables';

.AddGarmentDropdown {
  display: flex;
  justify-content: center;

  .error {
    font-size: .75em;
    color: darkred;
  }

  .add-button {
    background-color: $linkColor;
  }
}

#new-garment-form {
  left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  #new-garment-form {
    width: 400px;
  }
}
