.GarmentCard {
  #remove-garment {
    color: rgb(219, 0, 0);
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  .remove-garment {
    margin-top: -20px;
  }
  
  .outfit-dropdown {
    display: flex;
    justify-content: center;
    
    .add-garment-dropdown {
      position: absolute;
      transform: translate3d(0px, 38px, 0px);
      top: 0px;
      left: auto;
      will-change: transform;
    }
  }
}