.GarmentCard {
  .delete-button-holder {
    display: flex;
    justify-content: flex-end;

    #remove-garment {
      color: rgb(219, 0, 0);
      margin-top: 15px;
      padding: 0px;
    }
  }

  .garment-on-outfit-page {
    margin-top: -20px;
    pointer-events: none;
  }
  
  .outfit-dropdown {
    display: flex;
    justify-content: center;
    pointer-events: all;
    
    .add-garment-dropdown {
      position: absolute;
      transform: translate3d(0px, 38px, 0px);
      top: 0px;
      left: auto;
      will-change: transform;
    }
  }
}